# Database
MONGODB_URI
# JWT
JWT_SECRET=your-super-secret-jwt-key-here

# Tabby Payment Gateway
TABBY_SECRET_KEY=sk_test_000000000
TABBY_MERCHANT_CODE=ae
TABBY_CURRENCY=AED


PORT=3000


# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-here

# App Configuration
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API Key Configuration
API_KEY_ENABLED=true
API_KEY=your-super-secure-api-key-here-32-chars-min
API_KEY_HEADER=x-api-key
API_KEY_ALLOWED_ROUTES=
API_KEY_EXCLUDED_ROUTES=/api/payment/tabby/webhook

# Frontend API Key (for client-side requests)
NEXT_PUBLIC_API_KEY=your-super-secure-api-key-here-32-chars-min

